spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
textblob==0.18.0.post0
sumy==0.11.0
transformers==4.46.3
huggingface-hub==0.36.2
tokenizers==0.20.3
safetensors==0.8.0
torch==2.5.1
streamlit==1.39.0
plotly==5.24.1
pandas==2.2.3
flask==3.0.3
flask-cors==5.0.0
requests==2.32.3
nltk==3.9.1
